@page
@model SchoolPlanner2.Pages.Subjects.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject.Name" class="control-label"></label>
                <input asp-for="Subject.Name" class="form-control" />
                <span asp-validation-for="Subject.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.Day" class="control-label"></label>
                <select asp-for="Subject.Day" class="form-control">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Subject.StartTime" class="control-label"></label>
                <select asp-for="Subject.StartTime" class="form-control" id="start">
                    <option value="0800">08:00</option>
                    <option value="0830">08:30</option>
                    <option value="0900">09:00</option>
                    <option value="0930">09:30</option>
                    <option value="1000">10:00</option>
                    <option value="1030">10:30</option>
                    <option value="1100">11:00</option>
                    <option value="1130">11:30</option>
                    <option value="1200">12:00</option>
                    <option value="1230">12:30</option>
                    <option value="1300">13:00</option>
                    <option value="1330">13:30</option>
                    <option value="1400">14:00</option>
                    <option value="1430">14:30</option>
                    <option value="1500">15:00</option>
                    <option value="1530">15:30</option>
                    <option value="1600">16:00</option>
                    <option value="1630">16:30</option>
                    <option value="1700">17:00</option>
                    <option value="1730">17:30</option>
                </select>
                <span asp-validation-for="Subject.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.EndTime" class="control-label"></label>
                <select asp-for="Subject.EndTime" class="form-control" id="end">
                    <option value="0930">09:30</option>
                    <option value="1000">10:00</option>
                    <option value="1030">10:30</option>
                    <option value="1100">11:00</option>
                    <option value="1130">11:30</option>
                    <option value="1200">12:00</option>
                    <option value="1230">12:30</option>
                    <option value="1300">13:00</option>
                    <option value="1330">13:30</option>
                    <option value="1400">14:00</option>
                    <option value="1430">14:30</option>
                    <option value="1500">15:00</option>
                    <option value="1530">15:30</option>
                    <option value="1600">16:00</option>
                    <option value="1630">16:30</option>
                    <option value="1700">17:00</option>
                    <option value="1730">17:30</option>
                    <option value="1800">18:00</option>
                    <option value="1830">18:30</option>
                    <option value="1900">19:00</option>
                </select>
                <span asp-validation-for="Subject.EndTime" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Subject.TeacherID" class="control-label"></label>
                <select onclick="checkTime()" asp-for="Subject.TeacherID" class="form-control" asp-items="ViewBag.TeacherID">
                    <option hidden disabled selected> -- select an option -- </option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="final"/>
            </div>
        </form>
    </div>
</div>
<script>
    function checkTime() {
        var start = document.getElementById("start");
        var startResult = start.options[start.selectedIndex].value;
        var end = document.getElementById("end");
        var endResult = end.options[end.selectedIndex].value;
        if (startResult > endResult) {
            alert("Start time should be less than End time");
        }
    }
</script>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
